.memory_header {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.memory_game {
  background: #EEEDEA;
  padding: 10px 0;
}

#game_box {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#game_box .box {
  background-color: #4A586E;
  flex: 0 0 90px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.7);
  position: relative;
}

#game_box .overlay_img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BE5D77;
  transition: background-color 0.3s;
}

#game_box #show_image .overlay_img {
  opacity: 1;
}

#game_box .good {
  background: transparent;
  box-shadow: none;
}

.winner {
  position: relative;
}

.winner .winner_box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: -250px;
  font-size: 43px;
  font-family: fantasy;
  color: teal;
}
